// $main-clr: #27ae60;
$main-clr: #39e4fa;
$blue-clr-1: #191d2b;
$black-clr-1: #2a2e35;
$black-clr-2: #454e56;
$grey-clr-1: #b2becd;
$main-padding: 15px;
$main-gap: 1.7rem;
$white-color: #fff;
$transition: all 0.4s ease-in-out;
